.container {
  background-color: #7950f2;
  border: 1px solid transparent;
  border-radius: 4px;
  min-height: 2.7rem;
  max-height: 4rem;
  padding: 0.5rem 0;
  transition: 0.5;
  text-align: center;

  &:hover {
    background-color: darken(#7950f2, 40%);
    cursor: pointer;
  }

  display: grid;
  place-items: center;
}
