.inner {
  width: 100%;
  height: 100vh;
  padding: 0;
  display: grid;
  place-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  padding: 0 1rem;

  h1 {
    font-size: 1.7rem;
    text-align: center;
  }
}
.modal {
  width: 600px;
  height: 300px;
}

.btnWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;

  button {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .modal {
    width: calc(95% - 40px);
  }
}
